@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 1.3vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
  }
  ::-webkit-scrollbar-track {
    background-color: #94a3b8;
  }
}
